pipeline_demo:
  outputs:
    prod:
      dataset: public
      fixed_retries: 1
      location: US
      method: oauth
      priority: interactive
      project: YOUR-PROJECT-HERE
      threads: 8
      timeout_seconds: 300
      type: bigquery
  target: prod